.title {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 25px;
    color: black; 
  }

.abstract {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 25px;
    background-color: #f5f5f5; 
  }

.text {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 25px;
}

.centered-list {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 25px;
    /* background-color: #f5f5f5;  */
}

.unordered-list {
  display: inline-block;
  text-align: left;
}

.link {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 25px;
}

.image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
  }

.video {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}

.youtube-video {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}